html {

}

body {
}

#resources {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

#resources li {
    display: inline;
}

#resources div {
    display: inline;
}

#worldMap {
    width: 1000px;
    height: 600px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}
